@import "../../components/global/global.scss";
.ks-main {
  margin-inline: 5rem;
  margin-bottom: 2rem;
}
.div-info {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .info-a-propos {
    margin: 0;
    color: $white-color;
    font-size: 24px;
    font-weight: 700;
    background-color: $color;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
}
// *************************************media query tablette*****************************************
@media (max-width: 1023px) {
  .ks-main {
    margin-inline: 22px;
  }
}
// *************************************media query mobile*******************************************
@media (max-width: 767px) {
  .div-info {
    .info-a-propos {
      font-size: 13px;
      padding: 10px;
    }
    .arrow-back {
      width: 13px;
      height: 13px;
    }
  }
}
